<footer class="bg-primary text-white py-7 text-center">
  <p class="text-sm">
    © {{ currentYear }} Made with ❤️ by Cristina — Portfolio personal
  </p>
  <div class="mt-2">
    <a href="https://github.com/Cristina20245" target="_blank" class="hover:underline text-sm mx-2">GitHub</a>
    <a href="https://www.linkedin.com/in/cristina-alvarez-f" target="_blank" class="hover:underline text-sm mx-2">LinkedIn</a>
    <a href="assets/cv/CV_Cristina_Alvarez.pdf" target="_blank" class="hover:underline text-sm mx-2">CV</a>
    <a href="https://cristina.hashnode.dev" target="_blank" class="hover:underline text-sm mx-2">Blog</a>
    <a href="/privacy.html" class="hover:underline text-sm mx-2">Privacy Policy</a>
  </div>
</footer>