<nav class="bg-primary text-white py-4 fixed w-full z-50">
  <div class="container mx-auto flex justify-center items-center space-x-24 text-xl font-normal tracking-widest font-quote lowercase">
    <a href="#home" class="hover:underline transition-all duration-200">home</a>
    <a href="#about" class="hover:underline transition-all duration-200">about</a>
    <a href="#projects" class="hover:underline transition-all duration-200">projects</a>
    <a href="#contact" class="hover:underline transition-all duration-200">contact</a>
    <a href="https://cristina.hashnode.dev" target="_blank" class="hover:underline transition-all duration-200">blog</a>
  </div>
</nav>
