<div class="bg-cream text-charcoal py-6 fixed w-full z-50">
  <div
    class="container mx-auto flex flex-wrap justify-center items-center gap-x-14 gap-y-6
           text-lg sm:text-xl font-normal tracking-widest font-body lowercase">
    <a href="#home" class="hover:underline transition-all duration-200">home</a>
    <a href="#about" class="hover:underline transition-all duration-200">about</a>
    <a href="#projects" class="hover:underline transition-all duration-200">projects</a>
    <a href="#contact" class="hover:underline transition-all duration-200">contact</a>
    <a href="https://cristina.hashnode.dev" target="_blank" class="hover:underline transition-all duration-200">blog</a>
  </div>
