@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;700&family=Caveat&display=swap');

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Basic reset */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* En tu styles.css */
#flip {
  animation: flip 14s infinite ease-in-out;
}

.flip-line {
  height: 60px;
  line-height: 60px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes flip {
  0%, 15%   { transform: translateY(0); }
  16.66%, 31.66%  { transform: translateY(-60px); }
  33.33%, 48.33%  { transform: translateY(-120px); }
  50%, 65%  { transform: translateY(-180px); }
  66.66%, 81.66%  { transform: translateY(-240px); }
  83.33%, 98.33%  { transform: translateY(-300px); }
  100%      { transform: translateY(-300px); }
}

/* Asegurar que el contenedor oculta completamente el overflow */
.relative.inline-block {
  overflow: hidden !important;
}


.animate-flip {
  animation: flip 14s infinite ease-in-out;
}
